
main.main {
    padding: 15px;
    margin: 0px;
    background-color: #f5f3f3;
    scrollbar-width: none !important;

    div.subSection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3vh;
        scrollbar-width: none;

        h1 strong {
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
        }
        button {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            width: 20%;
            color: rgb(85, 82, 82);
        }
    }

    div.horizontalScroll {
        width: 92vw;
        flex-shrink: none;
        flex-wrap: nowrap;
        overflow-y: hidden;
        overflow-x: scroll !important;
        scrollbar-width: none;
    }
    .horizontalScroll::-webkit-scrollbar {
        display: none;
    }

    div.verticalScroll {
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    section.fixedBottom {
        position: fixed;
        width: 98vw;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;

        button {
            background-color: #3c6b18d7;
            color: white;
            width: 80vw;
            padding: 10px 14px;
            border-radius: 12px;
            font-weight: 700;
        }
    }
}

.main::-webkit-scrollbar {
    display: none;
}