.paper {
    background-color: rgb(247, 247, 247);
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.long {
    height: 93vh;
    animation: goLong 0.3s ease-out;
}

.short {
    height: 64vh;
    background-color: white;
}

.off {
    display: none;
    animation: goOut 0.5s;
}

@keyframes goLong {
    0% {
        height: 40vh;
    }
    10% {
        height: 70vh
    }
    100% {
        height: 93vh;
    }
}

@keyframes goOut {
    0% {
        height: 92vh;
    }
    100% {
        height: 0vh;
    }
}
